* {
	border: 0;
	box-sizing: inherit;
	font-weight: normal;
	margin: 0;
	padding: 0;
	}

html {
	box-sizing: border-box;
	font-size: 16px;
	}

body {
	font-family: sans-serif;
	}

button:focus {
	outline: 0;
	}

h1 {
	font-size: 3rem;
	margin: 1rem auto 1rem;
	}

header {
	padding: .5rem;
	}


/* -- IDs -- */

#app {
	padding: .5rem;
	}

#btn-loop, #btn-play-pause, #btn-replay {
	background-color: white;
	display: inline-block;
	width: 5rem;
	}

#player {
	display: block;
	margin-bottom: 1rem;
	margin-top: 1rem;
	}


/* -- Classes -- */


