* {
	border: 0;
	box-sizing: inherit;
	font-weight: normal;
	margin: 0;
	padding: 0;
	}

html {
	box-sizing: border-box;
	font-size: 16px;
	}

body {
	font-family: sans-serif;
	}

button:focus {
	outline: 0;
	}

h1 {
	font-size: 3rem;
	margin: 1rem auto;
	}

header {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	padding: .5rem;
	text-align: center;
	}


/* -- Classes -- */

.player-hide {
	height: 0;
	width: 0;
	}

.player-show {
	margin: 1rem auto;
	}


/* -- IDs -- */

#app {
	padding: .5rem;
	text-align: center;
	}

#controls {
	margin: 1rem auto;
	}

#btn-loop, #btn-play-pause, #btn-replay {
	background-color: rgb(255, 255, 255);
	display: inline-block;
	width: 5rem;
	}

#player {
	display: block;
	}

#sleep {
	position: absolute;
	bottom: 0;
	right: 0;
	}

#sleep p {
	color: rgb(220, 220, 220);
	padding: 1rem;
	}
